body {
  background-color: #f4f5f6;
}

.bg-orange {
  background-color: #f72210;
}

.header-svg-of-logo {
  width: 132px;
  height: 20px;
}

.svg-of-logo {
  fill: white;
}

.log-in i,
.burger-menu i {
  opacity: 0.75;
}

.subscribe-btn {
  background-color: #ffe400;
  font-size: 0.8em;
}

.subscribe-btn i {
  font-size: 0.75em;
}

@media only screen and (min-width: 768px) {
  .subscribe-btn {
    font-size: 1em;
  }

  .subscribe-btn i {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 992px) {
  .header-svg-of-logo {
    width: 396px;
    height: 60px;
  }
}
