/* shared-classes */
.main-headline-color {
  color: rgba(3, 3, 3, 0.4);
}

.badge-color {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-color {
  color: #f72210;
}

body,
main {
  background-color: #f4f5f6;
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  cursor: pointer;
}

.image img {
  width: 455px;
  height: 397px;
}

.title-link {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(34, 33, 33, 0.5);
  margin-bottom: 10px;
}

ul li a {
  color: #666;
}

.block-title a {
  color: rgba(34, 33, 33, 0.5);
}

/* div.image a.zero {
  display: block;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

.latest-news-head {
  color: rgba(129, 128, 128, 0.4);
  opacity: 0.65;
}

p {
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.latest-images img {
  height: 90px;
  width: 100%;
}

.bg-orange {
  background-color: #f72210;
}

.header-svg-of-logo {
  width: 132px;
  height: 20px;
}

.svg-of-logo {
  fill: white;
}

.log-in i,
.burger-menu i {
  opacity: 0.75;
}

.login-button a {
  color: white;
}

.subscribe-btn a {
  color: #000;
}

.subscribe-btn {
  background-color: #ffe400;
  font-size: 0.8em;
}

.subscribe-btn i {
  font-size: 0.75em;
}

.mt-3 a {
  color: black;
  opacity: 0.65;
}

.nav-menu ul li a {
  color: #000;
}

.footer-svg-of-logo-2 {
  width: 130px;
  height: 20px;
}

.svg-of-logo-2 {
  width: 236px;
  height: 36px;
  margin-right: 15px;
  fill: #f72210;
}

.navbar {
  padding-top: 10px;
  font-size: 13px;
  color: #666;
}

.depate-border {
  border-top: 0.25em solid #d9d9d9;
  border-bottom: 0.25em solid #d9d9d9;
}

.opinion-section-border {
  border-bottom: 1px solid #d9d9d9;
}

.deco {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none outside none;
  outline: 0 none;
  -webkit-font-smoothing: antialiased;
}

.deco::before,
.deco::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
}

.deco::before {
  top: calc(50% - 2px);
}

.deco::after {
  top: 50%;
}

.c-vs {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 6px auto;
}

/* Hover effects */

.font-hover-red:hover {
  color: #f72210;
}

.font-hover-white:hover {
  color: #fff;
}

.font-hover-blue:hover {
  color: blue;
}

.font-hover-black:hover {
  color: black;
}

.font-hover-menu:hover {
  color: red;
}

.underline-hover-red:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}

@media only screen and (min-width: 768px) {
  .subscribe-btn {
    font-size: 1em;
  }

  .subscribe-btn i {
    font-size: 0.9em;
  }

  .border-right-min-tablet {
    border-right: 1px solid #dee2e6;
    cursor: pointer;
  }
}

@media only screen and (min-width: 992px) {
  .header-svg-of-logo {
    width: 396px;
    height: 60px;
  }

  .border-right-min-tablet-1 {
    border-right: 1px solid #dee2e6;
    cursor: pointer;
  }

  .trending-nav {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
  }

  .search-block {
    padding-right: 5em;
  }

  .search-block input {
    max-width: 4em;
  }

  .main-navs::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 5em;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .nav-menu li {
    padding: 0 2px;
  }
}
